

:root{
    --bg-primary: #f4f6f9;
    --bg-header: #ffffff;
    --bg-card: #ffffff;
    --txt-primary: 2d3748;
    --txt-muted: #718096;
    --border-ligth: #e2e8f0;

    --color-primary: #61affe;
    --hover-bg: #f1f5f9;
    --logout-color: #e53e3e;

}
